<div class="image-viewer-container">
	<div class="image-viewer-stage"></div>
	<div class="image-viewer-switcher" aria-hidden="true">
		<button type="button" class="image-viewer-switcher-btn prev" aria-label="Previous image">
			<i class="fa-regular fa-angle-left"></i>
		</button>
		<div class="image-viewer-switcher-pages"></div>
		<button type="button" class="image-viewer-switcher-btn next" aria-label="Next image">
			<i class="fa-regular fa-angle-right"></i>
		</button>
	</div>
	<button type="button" class="image-viewer-switcher-side prev" aria-label="Previous image">
		<i class="fa-regular fa-angle-left"></i>
	</button>
	<button type="button" class="image-viewer-switcher-side next" aria-label="Next image">
		<i class="fa-regular fa-angle-right"></i>
	</button>
</div>
